@model FlashCards.Models.ViewModel.CreateNewCardSetVM
@{
    Layout = null;
}
<body class="site-theme">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/createset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlashCards.styles.css" asp-append-version="true" />

    <div class="container">
        <div class="row">
            <div id="primary-area" class="col-9">
                <form asp-controller="Personal" asp-action="CreateSet" method="post">
                    <input asp-for="CurUserId" type="hidden">
                    <label asp-for="SetName">Set name</label>
                    <input asp-for="SetName" type="text" required>
   @{
         
        for(int i = 0; i < Model.CardFrontSide.Length; i++) 
        {
            int visibleCardIndex = i+1;
            <div id="potential-card-@i" class="container potential-card">
                <div class="row">Card @visibleCardIndex</div>
                <div class="row">
                    <div class="col-6">
                        <div class="side-indication">Front Card</div>

                        <textarea id="potental-front-@i" asp-for="@Model.CardFrontSide[i]" cols="34" rows="5" maxlength="300" required></textarea>
                    </div>
                    <div class="col-6">
                        <div class="side-indication">Back Card</div>
                        <textarea id="potental-back-@i" asp-for="@Model.CardBackSide[i]" cols="34" rows="5" maxlength="300" required></textarea>
                    </div>
                </div>
                
            </div>
        }
    }


                    

                        <button type="submit">Create set</button>
                </form>

            </div>
            <div id="nav-area" class="col-3">
                <nav>
                    <ul>
                        <li>Card amount</li> <!--Maybe show which cards have missing text (and offer a 'jump to' option)?-->
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

