@model FlashCards.Models.Card


<body class="site-theme">
    <h3>Edit Card</h3>
    <br />
    @{
        if(ViewBag.NoError == false)
        {
            <p style="color: red;">There was an error submiting your changes.</p>
        }
    }

    <form asp-controller="Personal" asp-action="EditCard" method="post">
        <input asp-for="Id" type="hidden">
        <input asp-for="CardSetId" type="hidden">
        <label asp-for="FrontCard">Definition/Question</label>
        <br />
        <textarea asp-for="FrontCard" rows="4" cols="55" maxlength="75"></textarea>
        <br />
        <br />
        <label asp-for="BackCard">Explanation/Answer</label>
        <br />
        <textarea asp-for="BackCard" rows="8" cols="55" maxlength="200"></textarea>
        <br />
        <br />
        <button class="custom-button" type="submit">Submit changes</button>
    </form>
</body>
