@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FlashCards.Models.User
@{
}
<body class="site-theme">
    @{
        if (ViewBag.UserNameTaken == true) 
        {
            <p style="color:red">That username is already taken.</p>
        }
    }

    <h3>Create Account</h3>

    <span asp-validation-for="Username" class="text-danger"></span>
    <span asp-validation-for="Email" class="text-danger"></span>
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />

    <form asp-controller="Home" asp-action="CreateAccount" method="post">
        <div class="mb-3 row">
            <label asp-for="Username" class="col-sm-1 col-form-label">Username</label>
            <div class="col-sm-2">
                <input asp-for="Username" class="form-control form-control-sm" type="text">
            </div>
        </div>
 
        <div class="mb-3 row">
            <label asp-for="Email" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm-2.5">
                <input asp-for="Email" class="form-control form-control-sm" type="text">
            </div>
        </div>
 

        <div class="mb-3 row">
            <label asp-for="Password" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-2">
                <input asp-for="Password" class="form-control form-control-sm" type="password">
            </div>
        </div>
     
        <button class="custom-button" type="submit">Create account</button>
    </form>
</body>