@{
    ViewData["Title"] = "Home Page";
}

<h3>Flashcards</h3>

<div class="container">
    <div class="account-options">
        <a asp-controller="Home" asp-action="CreateAccount" class="btn btn-dark" method="get" role="button">Create account</a>
        <a asp-controller="Home" asp-action="Login" class="btn btn-dark"  method="get" role="button">Login</a>
    </div>
   
</div>
